.label , .profile{
    color: #275580;
    font-weight: 600;
}
.profileIcon{
    color: #275580;
}

.buttonLink :global(.vtex-button__label){
    padding: 0px;
}

@media only screen and (min-width: 640px) {
    .container{
        padding-right: 10px;
        border-right: 1px solid #275580;
    }
}
