.menuItem--racksMenu::before{
    content: "";
    background-image: url(https://thulestore.vteximg.com.br/arquivos/iconRack.png);
    background-repeat: no-repeat;
    width: 80px;
    height: 36px;
    display: block;
    margin: 0px auto;
}

.menuItem--childrenMenu::before{
    content: "";
    background-image: url(https://thulestore.vteximg.com.br/arquivos/iconChildren.png);
    background-repeat: no-repeat;
    width: 68px;
    height: 36px;
    display: block;
    margin: 0px auto;
}

.menuItem--backpackMenu::before{
    content: "";
    background-image: url(https://thulestore.vteximg.com.br/arquivos/iconBackpack.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 36px;
    display: block;
    margin: 0px auto;
}

.menuContainer--mainMenu .menuContainer--submenuMain .styledLink{
    color:#000;
}

.menuContainer--mainMenu .menuContainer--submenuMain .menuItem:first-child .styledLinkContainer{
    color:#000;
    border-bottom: 1px solid #000;
    padding: 10px 0px;
}

.menuContainer--submenuMain .styledLinkContainer{
    padding: 10px 0px;
    border-bottom: 1px solid #f1f1f1;
}

.menuContainer--mainMenu .styledLink{
    color: #9b9b9b;
    font-size: 13px;
}

.menuItem--racksMenu:hover, .menuItem--childrenMenu:hover, .menuItem--backpackMenu:hover{
    background: #558fb7;
}

.menuItem--lastItemMobile{
    padding-bottom: 100px;
}

.menuContainer--mainMenu .styledLinkContainer{
    border-right: 1px solid #d7d7d7;
    padding: 10px;
    position: relative;
}

.menuContainer--mainMenu .styledLinkContainer{
    border-right: 1px solid #d7d7d7;
    padding: 10px;
    position: relative;
}

.menuContainer--mainMenu .styledLinkContent:hover{
    color: #275580;
}

.menuContainerNav--mainMenu{
    margin: 0px auto;
}

.menuItem--searchIcon:hover , .menuItem--faqItem{
    cursor: pointer
}

.menuContainer--mainMenu .styledLinkContainer::before{
    content: "";
    background: url(https://clinrio.vteximg.com.br/arquivos/medicIcon.png);
    position: absolute;
    left: -30px;
    top: 0px;
    width: 30px;
    height: 30px;
    display: block;
    background-repeat: no-repeat;
}


@media only screen and (min-width: 640px) {
    .submenuContainer{
        left: 10%;
        position: absolute;
    }
    .menuContainerNav--iconSearchMaster{
        position: relative;
        margin: 0px 10px;
    }
    .menuItem--searchIcon , .menuItem--faqItem{
        position: absolute
    }
    .menuItem--searchIcon .submenuContainer{
        min-width: 300px;
        left: -150px;
    }
    .menuItem--faqItem .submenuContainer{
        left: auto;
        width: 200px;
        right: -50px;
    }
    .menuItem--searchIcon .submenuWrapper, .menuItem--faqItem .submenuWrapper{
        padding: 15px;
        border-radius: 5px;
    }
    .menuItem--faqItem .submenuWrapper{
        width: 200px;
        text-align: left;
    }
    .menuItem--racksMenu , .menuItem--childrenMenu{
        border-right: 1px solid #fff;
    }

    .styledLinkContent--faqItens{
        font-size: 17px;
        margin: 3px 0px;
    }

}