.buyButton :global(.vtex-button){
    border-radius: 0px;
}

.productBrand{
    color: #7bafd4;
    font-weight: 700;
}

.description{
    height: 85px;
    display: block;
}

.nameContainer{
    padding: 10px;
}

.productNameContainer{
    display: block;
    height: 35px;
    text-align: left;
}

.description{
    text-align: left;
    padding: 0px 10px;
}

.imageNormal{
    max-height: 195px;
}

.price_sellingPrice{
    font-weight: 700;
}

.buyButtonContainer{
    justify-content: center;
    align-items: center;
    display: flex;
}

.sellingPriceContainer{
    text-align: left;
}

.installmentContainer{
    text-align: left;
}

.listPriceContainer{
    text-align: left;
}

.description{
    color: #000;
}